name: Deploy Django App

on:
  workflow_dispatch:  # Allows manual trigger from GitHub UI

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/carelink
            git pull 
            sudo docker-compose -f carelinkup.yml down
            sudo  docker image prune -f
            sudo docker build . -t carelink:latest
            sudo docker-compose -f carelinkup.yml up -d
            

            
